@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

body {
  border-width: 2px;
  border-color: black;
  margin: 2rem;
  background-color: rgb(249 250 251);


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.tabs .active {
  background-color: #0070f3;
  color: white;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  padding: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: left;
}
